<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.westerholmgmail.v.lauri.tunnelescape">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tunnelescape_icon"
        android:logo="@mipmap/tunnelescape_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tunnelescape_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:isGame="true"
        android:description="@string/app_description">
        <activity android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden" android:name="com.westerholmgmail.v.lauri.UI.MenuScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>